{% extends 'base.html' %}

{% load crispy_forms_tags %}  


{% block body %}
<div class="container col-md-5 mt-5 mb-5">
  <h1 class="text-center mb-5">Sign Up </h1>
  <form method="POST" >
  	{% csrf_token %}

  	{{ signup_form|crispy }}

  
   <div class="row mb-3">
    <label class="col-md-12 col-form-label">Already have account ? Login <a href="{% url 'user-login-page'%}">here</a></label>
  </div>
  
  <button type="submit" class="btn btn-lg w-100" style="background:  #34495e ;color: white;">Sign Up</button>
</form>
</div>
{% endblock %}